<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rails Behaviors</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="sidebar">
    <ul>
      <li><a href="#remote">Remote</a></li>
      <li><a href="#method">Method</a></li>
      <li><a href="#confirm">Confirm</a></li>
      <li><a href="#disable">Disable</a></li>
      <li><a href="#accept">Accept</a></li>
      <li><a href="#csrf">CSRF</a></li>
    </ul>
  </section>

  <section class="content">
    <%= readme %>
  </section>
</body>
</html>
